<h2>TODO List 1</h1>
<h3>What I have to do today</h2>

<form class="form-inline" role="form">
  <div class="input-group">
    <input type="text" class="form-control" id="new-todo-item" 
      placeholder="New TODO item . . ." ng-model="newTask.description">
    <span class="input-group-btn width-percentage">
      <button type="submit" class="btn btn-default" ng-click="addTask()">Create</button>
    </span>
  </div>
</form>

<ul class="list-gorup todo-list-group">
  <li class="list-group-item clearfix" ng-show="newTask.description">
    {{newTask.description}}
  </li>
  <li class="list-group-item clearfix" ng-repeat="task in tasks">
    {{task.description}}
    <span class="pull-right">
      <button type="button" class="btn btn-xs btn-success">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button type="button" class="btn btn-xs btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button type="button" class="btn btn-xs btn-danger" ng-click="deleteTask(task)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </span>
  </li>
</ul>
